*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.home {
    background-color: black/*#f1f1f1*/;
}

.center{
    display: flex;
    justify-content: center;
    vertical-align: center;
}

a {
    margin-top: auto;
    margin-bottom: auto;
    color: white;


    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.unique {
    cursor: default;
}

.unique:hover {
    filter: grayscale();
}

/* Wireframe Images */
.im {
    margin: 30px;
    width: auto;
    height: 600px;
}

.collage {
    display: grid;
}

.midterm_header {
    background-color: black;
    width: 100%;
    color: white;
    display: inline-flex;
    justify-content: space-between;
}

.midterm_header > h1 {
    font-size: 30px;
    margin: 30px;
}

.midterm_header > h2{
    font-size: 30px;
    margin: 30px;
}


#midterm_art1{
    padding: 5%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    grid-template-rows: 20% 20% 20% 20% 20%; 
    width: 1000px;
    height: 500px;
    outline-color: black;
}
#midterm_art1 > div{ 
    width: 100px;
    height: auto;
}

#midterm_art1 > div:hover { 
    filter: grayscale();
}

#big_text{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 90px;
    padding: 10%;
}

.collage_1_blue{
    background: linear-gradient(rgba(6, 146, 202, 0.65),rgba(6, 146, 202, 0.65)), url(./collage1/white.jpg) no-repeat top center;
    background-size: 100%;
   
}

.collage_1_blue1{
    background: linear-gradient(rgba(6, 146, 202, 0.65),rgba(6, 146, 202, 0.65)), url(./collage1/white1.jpg) no-repeat top center;
    background-size: 100%;
   
     
}

.collage_1_blue2{
    background: linear-gradient(rgba(6, 146, 202, 0.65),rgba(6, 146, 202, 0.65)), url(./collage1/white2.jpg) no-repeat top center;
    background-size: 100%;
   
}

#collage_1_unique{
    content:url(./collage1/green.jpg);
    width: 100%;
    height: auto;
}

.collage_1_purple{
    background: linear-gradient(rgba(98, 6, 202, 0.65),rgba(98, 6, 202, 0.65)), url(./collage1/white.jpg) no-repeat top center;
    background-size: 100%;
   
     
}

.collage_1_purple1{
    background: linear-gradient(rgba(98, 6, 202, 0.75),rgba(98, 6, 202, 0.75)), url(./collage1/white1.jpg) no-repeat top center;
    background-size: 100%;
   
     
}

.collage_1_purple2{
    background: linear-gradient(rgba(98, 6, 202, 0.75),rgba(98, 6, 202, 0.75)), url(./collage1/white2.jpg) no-repeat top center;
    background-size: 100%;
   
     
}

.collage_1_red {
    background: linear-gradient(rgba(197, 13, 13, 0.75),rgba(197, 13, 13, 0.75)), url(./collage1/white.jpg) no-repeat top center;
    background-size: 100%;
   
     
}
.collage_1_red1 {
    background: linear-gradient(rgba(197, 13, 13, 0.75),rgba(197, 13, 13, 0.75)), url(./collage1/white1.jpg) no-repeat top center;
    background-size: 100%;
   
     
}
.collage_1_red2 {
    background: linear-gradient(rgba(197, 13, 13, 0.75),rgba(197, 13, 13, 0.75)), url(./collage1/white2.jpg) no-repeat top center;
    background-size: 100%;
   
}

.collage_1_yellow {
    background: linear-gradient(rgba(236, 213, 5, 0.75),rgba(236, 213, 5, 0.75)), url(./collage1/white.jpg) no-repeat top center;
    background-size: 100%;
   
}


.collage_1_yellow1 {
    background: linear-gradient(rgba(236, 213, 5, 0.75),rgba(236, 213, 5, 0.75)), url(./collage1/white1.jpg) no-repeat top center;
    background-size: 100%;
   
}

.collage_1_yellow2 {
    background: linear-gradient(rgba(236, 213, 5, 0.75),rgba(236, 213, 5, 0.75)), url(./collage1/white2.jpg) no-repeat top center;
    background-size: 100%;
   
}


.collage_1_white {
    background: linear-gradient(rgba(236, 5, 217, 0.75),rgba(236, 5, 217, 0.75)), url(./collage1/white1.jpg) no-repeat top center;
    background-size: 100%;
   
     
}
.collage_1_white1 {
    background: linear-gradient(rgba(236, 5, 217, 0.75),rgba(236, 5, 217, 0.75)), url(./collage1/white1.jpg) no-repeat top center;
    background-size: 100%;
   
}
.collage_1_white2 {
    background: linear-gradient(rgba(236, 5, 217, 0.75),rgba(236, 5, 217, 0.75)), url(./collage1/white2.jpg) no-repeat top center;
    background-size: 100%;
   
}

/*Second Collage*/
.collage_2_blue{
    background: linear-gradient(rgba(5, 201, 236, 0.65),rgba(5, 201, 236, 0.65)), url(./collage2/0.jpg) no-repeat top center;
    background-size: 100%;
}

.collage_2_blue1{
    background: linear-gradient(rgba(5, 201, 236, 0.65),rgba(5, 201, 236, 0.65)), url(./collage2/1.jpg) no-repeat top center;
    background-size: 100%;
     
}

.collage_2_blue2{
    background: linear-gradient(rgba(5, 201, 236, 0.65),rgba(5, 201, 236, 0.65)), url(./collage2/2.jpg) no-repeat top center;
    background-size: 100%;
}

#collage_2_unique{
    content:url(./collage2/unique1.jpg);
    width: 100%;
    height: auto;
}

.collage_2_purple{
    background: linear-gradient(rgba(94, 4, 238, 0.3),rgba(94, 4, 238, 0.3)), url(./collage2/0.jpg) no-repeat top center;
    background-size: 100%;
     
}

.collage_2_purple1{
    background: linear-gradient(rgba(94, 4, 238, 0.3),rgba(94, 4, 238, 0.3)), url(./collage2/1.jpg) no-repeat top center;
    background-size: 100%;
     
}

.collage_2_purple2{
    background: linear-gradient(rgba(94, 4, 238, 0.3),rgba(94, 4, 238, 0.3)), url(./collage2/2.jpg) no-repeat top center;
    background-size: 100%;
     
}

.collage_2_red {
    background: linear-gradient(rgba(238, 4, 63, 0.5),rgba(238, 4, 63, 0.5)), url(./collage2/0.jpg) no-repeat top center;
    background-size: 100%;
     
}
.collage_2_red1 {
    background: linear-gradient(rgba(238, 4, 63, 0.5),rgba(238, 4, 63, 0.5)), url(./collage2/1.jpg) no-repeat top center;
    background-size: 100%;
     
}
.collage_2_red2 {
    background: linear-gradient(rgba(238, 4, 63, 0.5),rgba(238, 4, 63, 0.5)), url(./collage2/2.jpg) no-repeat top center;
    background-size: 100%;
}

.collage_2_yellow {
    background: linear-gradient(rgba(236, 213, 5, 0.55),rgba(236, 213, 5, 0.55)), url(./collage2/0.jpg) no-repeat top center;
    background-size: 100%;
}


.collage_2_yellow1 {
    background: linear-gradient(rgba(236, 213, 5, 0.55),rgba(236, 213, 5, 0.55)), url(./collage2/1.jpg) no-repeat top center;
    background-size: 100%;
     
}

.collage_2_yellow2 {
    background: linear-gradient(rgba(236, 213, 5, 0.55),rgba(236, 213, 5, 0.55)), url(./collage2/2.jpg) no-repeat top center;
    background-size: 100%;
}


.collage_2_green {
    background: linear-gradient(rgba(5, 236, 82, 0.55),rgba(5, 236, 82, 0.55)), url(./collage2/0.jpg) no-repeat top center;
    background-size: 100%;
     
}
.collage_2_green1 {
    background: linear-gradient(rgba(5, 236, 82, 0.55),rgba(5, 236, 82, 0.55)), url(./collage2/1.jpg) no-repeat top center;
    background-size: 100%;
     
}
.collage_2_green2 {
    background: linear-gradient(rgba(5, 236, 82, 0.55),rgba(5, 236, 82, 0.55)), url(./collage2/2.jpg) no-repeat top center;
    background-size: 100%;
}

#poem {
    width: 400px;
    font-size: 18px;
    color: white;
    text-align: center;

}

#reflection {
    color: white;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 40px;
}