*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#home {
    background-color: lightblue;
}
#home_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#home_header {
    padding: 30px;
    text-align: center;
    background-color: #f1f1f1;
}
.header {
    padding: 30px;
    text-align: center;
    display: block;
    background-color: #f1f1f1;
}
.button {
    background-color: #008CBA; /* Blue*/
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}