* {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

#homepage {
    min-height: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(175, 175, 175, 0.3),rgba(175, 175, 175, 0.3)), url(./alaska.jpg) no-repeat top center;
    background-size: cover;
}
.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

#open-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

#h1 {
    /*font-family: 'Quicksand', sans-serif;*/
    color: white;
    font-size: 5vw;
    font-weight: lighter;
}

#h2 {
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    padding: 1vw;
}

#iAm {
    color: white;
    padding-left: 1vw;
}

.navbar_home {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
}

.navbar_home > a {
    color: white;
    padding: 1vw;
}

.navbar_home > a:hover {
    color: rgb(159, 159, 160);
}

.pages {
    /*background-color: #d6e4ee;*/
    display: flex;
    flex-direction: column;
    /*background-color: #edf6fd;*/
    background-color: rgba(163, 185, 202, 0.5)
}

.navbar {
  margin: 3vw;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selected {
  color: rgb(159, 159, 160);
  font-weight: normal;
  text-shadow: none;
  cursor: default;
}

.navbar > a {
  color: rgb(159, 159, 160);
  padding: 1vw;
}


.navbar > a:hover {
  color: #7c8288;
  text-shadow: 1px 1px 1px #aaa;
}

.row {
  display: flex;
  flex-direction: row;
}

.content {
  /*background-color: rgba(181, 190, 197, 0.5);*/
  background-color: rgba(255,255, 255, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  font-weight:400;
  color: rgb(159, 159, 160);
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}

.title {
  font-size: 2.5vw;
  margin: 2vw;
  margin-bottom: 0;
  padding: none;
}

.text {
  margin: 2vw;
}

img {
  width: 25vw;
  height: 25vw;
  border-radius: 5px;
  margin: 2vw;
  margin-left: 0;
}

.project {

}

.project:hover {

}