* {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

#homepage {
    min-height: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(175, 175, 175, 0.3),rgba(175, 175, 175, 0.3)), url(./images/alaska.jpg) no-repeat top center;
    background-size: cover;
}
.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.fadeIn {
  animation: fadeIn ease 2s;
}

#open-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

#h1 {
    /*font-family: 'Quicksand', sans-serif;*/
    color: white;
    font-size: 5vw;
    font-weight: lighter;
}

#h2 {
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    padding: 1vw;
}

#iAm {
    color: white;
    padding-left: 1vw;
}

.navbar_home {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
}

.navbar_home > a {
    color: white;
    padding: 1vw;
}

.navbar_home > a:hover {
    color: rgb(159, 159, 160);
}

.pages {
    /*background-color: #d6e4ee;*/
    display: flex;
    flex-direction: column;
    /*background-color: #edf6fd;
    background-color: rgba(163, 185, 202, 0.5);*/
    background: linear-gradient(rgba(175, 175, 175, 0.3),rgba(175, 175, 175, 0.3)), url(./images/alaska.jpg) no-repeat top center;
    background-size: cover;
}

.navbar {
  margin: 3vw;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selected {
  color:white;
  font-weight: normal;
  text-shadow: none;
  cursor: default;
}

.navbar > a {
  color: white;
  padding: 1vw;
}


.navbar > a:hover {
  color: rgb(117, 117, 117);
  text-shadow: 1px 1px 1px rgb(189, 189, 189);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2vw;
}

.content {
  /*background-color: rgba(181, 190, 197, 0.5);*/
  background-color: rgba(255,255, 255, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  font-weight: 400;
  color: rgb(117, 117, 117);
  margin: 0 20% 5% 20%;
  padding: 2vw;
  justify-content: center;
}

.title {
  font-size: 2.5vw;
  padding: none;
}

#prof {
  width: 20vw;
  height: 20vw;
  border-radius: 5px;
}


/*ABOUT*/
#skills {
  margin: 2vw 0 2vw 0;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skills-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.skills > div > img {
  width: 3vw;
  height: 3vw;
  margin: 1vw;
}

.skills > div > label{
  margin: 0.5vw 0 0 0;
  font-size: 1vw;
  text-align: center;
  width: 100%;
}


/*PROJECTS*/
.projects {
  margin-top: 2vw;
  display: flex;
  justify-content: space-evenly;
}

.projects > button > img:hover {
  filter: invert(20%);
  cursor: pointer;
}

.projects > button {
  border: none;
  outline: none;
  padding: 0px;
}

.projects > button > img {
  border-radius: 5px;
  width: 15vw;
  height: 15vw;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  border-radius: 5px;
  z-index: 10;
  background: white;
  width: 50%;
  padding: 2vw;
}

.modal-body {
  min-height: 10vw;
  padding-left: 1vw;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1vw;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3vw;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}


/*CONTACT FORM*/
#contact-form {
  display: flex;
  margin: 3vw 0 2vw 0;
  flex-direction: column;
}

form {
  color: rgb(117, 117, 117);;
}

label {
  padding-bottom: 0.5vw;
  font-weight: normal;
}

form > #info {
  display: flex;
  margin: 0 0 2vw 0;
  justify-content: space-between;
}

.field-half {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-control {
  background: transparent;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
  padding: 1vw;
  font-size: 1vw;
}

textarea {
  padding: 1vw;
  resize: none;
}

form > .submit {
  background: transparent;
  border-color: white;
  font-size: 1.5vw;
  font-weight: normal;
  margin: 2vw 0 1vw 0;
  padding: 1vw;
  color: rgb(117, 117, 117);
}

form > .submit:hover {
  background: white;
  cursor: pointer;
}

#submitted {
  display: none;
  text-align: center;
  margin: 2vw 0 0 0;
}

.email-invalid {
  font-size: 1vw;
  animation: fadeIn ease 1s;
  padding: 0.5vw 0 0 0;
}

#socials > button {
  height: 100%;
}

#socials > a > img {
  filter: invert(35%);
  width: 3vw;
  height: 3vw;
}

#socials > a > img:hover {
  filter: invert(75%);
}

#github {
  background: url(./images/icons/github.png);
}