*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    height: 60px;
    padding: 10px;
    color:white;
    background-color:#282828;
    padding-left: 25px;
}

.contents {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Design for the navigation bar */

.nav-bar {
    display: flex;
    height: 75px;
    bottom: 50;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    color: white;
    background-color: #282828;
}

.nav-bar > a {
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: #282828;
    font-size: 30px;
}

#current {
    font-weight: bold;
}

#home {
    background-color: #f2eae1;
}

#citations {
    z-index: 5;
    bottom: 5;
    font-size: 12px;
    text-align: left;
}

/* Design for the first page's header*/
.blue-bl {
    background-color: #3d4d8b;
    height: 50px;
    width: 700px;
    float: right;
    
}

.red-bl {
    background-color: #bc1d22;
    height: 50px;
    width: 700px;
}

.yellow-bl {
    background-color:#fbb522;
    height: 50px;
    width: 900px;
    margin: auto;
}



/* Design for the first page's body */
.dot-l1 {
    height: 25px;
    width: 25px;
    background-color:#bc1d22;
    border-radius: 50%;
    margin-inline-end: 10px;
    display: inline-flex;
}

.dot-l2 {
    height: 25px;
    width: 25px;
    background-color: #fbb522;
    border-radius: 50%;
    margin-inline-end: 10px;
    display: inline-flex;
}

.dot-l3 {
    height: 25px;
    width: 25px;
    background-color: #3d4d8b;
    border-radius: 50%;
    margin-inline-end: 10px;
    display: inline-flex;
}

.dot-r1 {
    height: 25px;
    width: 25px;
    background-color: #a6958f;
    border-radius: 50%;
    margin-inline-start: 10px;
    display: inline-flex;
}

.dot-r2 {
    height: 25px;
    width: 25px;
    background-color: #282828;
    border-radius: 50%;
    margin-inline-start: 10px;
    display: inline-flex;
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid #282828;
    position: absolute;
}

.flexbox {
    display: flex;
    align-items: flex-end;
    margin: 20px;
    padding-top: 200px;
}

.flexbox-container-l {
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

.flexbox-container-r {
    display: flex;
    justify-content: left;
    margin-left: 10px;
}

.flexbox-item-l {
    width: 200px;
    margin: 5px;
    border: 5px;
    text-align: right;

}

.flexbox-item-r {
    width: 500px;
    margin: 5px;
    border: 5px;
    text-align: left;

}

.flexbox-item-1 {
    margin: 5px;
}

.name-ref {
    font-size: 30px;
    font-weight: 550;
    color: #282828;
    line-height: 30px;
}

.name {
    font-size: 50px;
    font-weight: 550;
    color: #282828;
    line-height: 50px;
}

.hr {
    border: 1px solid;
    border-color: #282828;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* style for the about page */
#about {
    min-height:100%;
    background:url(aboutPortrait.jpg);
    background-size:cover;
    /*
    box-shadow:inset 0 0 0 2000px rgba(239, 95, 55, 0.8);
    rgb(245, 207, 44)
    */
}

#ab-h1 {
    margin: 10px;
    margin-bottom: 0px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    letter-spacing: -5px;
    transform: scaleY(1.2);
}

#ab-h2 {
    margin-left: 10px;
    color: white;
    font-size: 40px;
    transform: scaleY(1.2);
}

#ab-h3 {
    color: gray;
    margin: 10px;
    letter-spacing: -0.5px;
    transform: scaleY(1.2);
    padding-bottom: 50px;
}

#bullets {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 20px;
}

.bullet-lalign {
    color: white;
    font-size: 20px;
    text-align: right;
    letter-spacing: -1px;
    margin: 10px;
}


/* style for the famousWorks page as well as blank/references page*/


#famousImages-box {
  display: flex;
  padding: 20px;
  padding-top: 200px;
  justify-content: space-evenly;
}

#famousImages {
  width: 22%;
}

.textbox {
  padding: 50px;
  padding-bottom: 20px;
}

#famousworks-info {
  padding-right: 50px;
  text-align: justify;
}

/* style for the history page */
#history {
    overflow: hidden;
}

.history-flex {
    height: 85%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
}
  
 #red1 {
  background-color: #e43b28;
  display: flex;
  height: 250px;
 }
  
 #red2 {
  background-color: #c92f32;
  display: flex;
  flex: 1;
 }
  
 #red3 {
  background-color: #a6293a;
  display: flex;
  flex: 1;
 }

.history-right-text {
    width: 600px;
}

.history-left-text {
    width: 500px;
    text-align: right;
}

.history-text {
    color: black;
    font-size: 20px;
    font-weight: 200px;
    letter-spacing: -0.5;
}

.history-container-r {
    display: flex;
    text-align: left;
    width: 50%;
    height: 100%;
    margin: 50px;

}

.history-container-l {
    display: flex;
    justify-content: right;
    text-align: right;
    width: 50%;
    height: 100%;
    margin: 50px;
    margin-right: 0;
}

 #history-header-white {
  font-size: 50px;
  font-weight: 700;
  text-align: right;
  color: white;
 }
  
 #history-header-black {
  font-size: 50px;
  font-weight: 700;
  color: black;
 }

/* style for the inspiration/techniques page */
#inspiration {
    background-color: #0f1626;
    color: white;
    overflow: hidden;
}

#insp-flex {
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
}

#insp-h {
    font-size: 80px;
    font-weight: 30;
    letter-spacing: -1px;
    margin-left: 20px;
    color:white;
}

.insp-text {
    font-size: 18px;
    width: 320px;
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
}

.white-bl1 {
    display: block;
    background-color: white;
    right: 200px;
    top: 250px;
    position: absolute;
    height: 75px;
    width: 400px;
    margin: 50px;
    transform: rotate(-45deg);
}
.white-bl2 {
    display: block;
    background-color: white;
    right: -320px;
    position: absolute;
    height: 75px;
    width: 700px;
    margin: 50px;
    transform: rotate(-45deg);
}
.white-bl3 {
    display: block;
    background-color: white;
    right: 80px;
    top: 370px;
    position: absolute;
    height: 75px;
    width: 400px;
    margin: 50px;
    transform: rotate(-45deg);
}
.tan-bl1 {
    display: block;
    background-color: #f1c097;
    right: -60px;
    top: -100px;
    position: absolute;
    height: 75px;
    width: 700px;
    margin: 50px;
    transform: rotate(-45deg);
}
.tan-bl2 {
    display: block;
    background-color: #f1c097;
    right: -120px;
    top: -40px;
    position: absolute;
    height: 75px;
    width: 700px;
    margin: 50px;
    transform: rotate(-45deg);
}
.tan-bl3 {
    display: block;
    background-color: #f1c097;
    right: -360px;
    top: 200px;
    position: absolute;
    height: 75px;
    width: 700px;
    margin: 50px;
    transform: rotate(-45deg);
}
.tan-bl4 {
    display: block;
    background-color: #f1c097;
    right: -420px;
    top: 260px;
    position: absolute;
    height: 75px;
    width: 700px;
    margin: 50px;
    transform: rotate(-45deg);
}